*{
    padding:0;
    margin:0;
}


/* nav styling   */
nav {
    align-items:center ;
    position: fixed;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content:space-between;
    gap: 2rem;
   
}
a,ul,li{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    gap: 2rem;
}



.background-img{
    background-image: url(colage.png);
}




















/*footer styles*/
footer{
    display: flex;
    padding:2%;
    justify-content: space-evenly;
    align-items:center ;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:aliceblue ;

}

.footer-icons{
    display: flex;
    justify-content: space-around;
    gap:9rem;
   
   
}

.footer-icons  a{
    text-decoration: none;
  
}

.footer-icons li {
    list-style-type: none;
    text-decoration: none;
 
}

